target
temp
classes
export.xml
*.bak
*.orig
.cache
.project
.classpath
.settings
ctags
.lib-src
.tags
/flyway.properties
.idea
.idea_modules
*.swp
/atmsql
fullsystem/src/main/resources/application.conf
fullsystem/src/main/resources/logback.xml
/SVC_HOME_IS_UNDEFINED
appreciationenginesvc/timestamp_storage_file_dont_delete_me
tmp
*.zip
journal/*
/cerberus/cerberus
/email/viewer/viewer
.vscode
/tools/templater-loader/templater-loader
/tools/robby/robby
